.first-name-1::placeholder {
  color: var(--silver);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

a:hover {
  text-decoration: none !important;
}
.continue {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 141px;
  mix-blend-mode: normal;
  text-align: center;
  width: 141px;
}
.logo-home {
  height: 148px;
  width: 349px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.overlap-group {
  background-color: var(--mercury);
  height: 36px;
  padding: 1px 10px;
}
.overlap-group101 {
  /* align-items: flex-start; */
  background-color: var(--dark-tan);
  border-radius: 8.699999809265137px;
  /* display: flex; */
  height: 58px;
  /* min-width: 188px; */
  padding: 16px 23.3px;
}
.overlap-group13 {
  background-color: var(--green);
  border-radius: 8.699999809265137px;
  height: 58px;
  padding: 16px 23.3px;
}
.previous {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 141px;
  mix-blend-mode: normal;
  text-align: center;
  width: 141px;
}
.title {
  text-align: center;
}
.verify {
  letter-spacing: 0;
  min-height: 16px;
  mix-blend-mode: normal;
  width: 50px;
}
.verify-button {
  align-items: flex-start;
  background-color: var(--midnight-blue);
  border-radius: 5px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-left: 18px;
  min-width: 128px;
  padding: 6.8px 38px;
}

/* Breadcrups CSS */

.arrow-steps .step {
  margin: 0 3px;
  padding: 10px 10px 10px 30px;
  width: -webkit-fill-available;
  height: 34px;
  position: relative;
  background-color: #E6E6E6;
  user-select: none;
  transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #E6E6E6;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #1CB45C;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #1CB45C;
}