@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500");
.mt-30 {
  margin-top: 30px;
}
.vertical-divider {
  border-left: 2px solid #000000;
}
.paddingUnset {
  padding: unset;
}
.lh-22 {
  line-height: 22px;
}
.pl-15 {
  padding-left: 15px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.overlap-group101 {
  background-color: white;
  border: 1px solid #5fa9d5;
  color: #5fa9d5 !important;
  border-radius: 8.699999809265137px;
  height: 50px;
  padding: 0px 32.75px;
}
.logo-home {
  height: 148px;
  width: 349px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.overlap-group {
  align-items: flex-end;
  background-color: var(--mercury);
  display: flex;
  height: 36px;
  padding: 4px 10px;
  border-radius: 4px;
}
.overlap-group13 {
  background-color: #5fa9d5;
  border-radius: 8.699999809265137px;
  height: 50px;
  padding: 0px 55px;
}
.overlap-group15 {
  background-color: #0a4b7d;
  border-radius: 8.699999809265137px;
  height: 50px;
  padding: 0px 25px;
}
.options {
  padding: 5px 17px;
  border: 1px solid #77838f;
  border-radius: 4px;
}
.options.active {
  background: #0a4b7d;
  color: white;
}

/* Footer Style Start */
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #970a24;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footerIcon {
  font-size: 1.5rem !important;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 3px;
  color: white;
}
.footerBadge {
  margin-left: 5px;
  background: #f30c0c;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  text-align: center;
}
/* Footer Style End */

/* Accordion Style Start */
.MuiAccordionSummary-root {
  background: #0a4b7d !important;
  color: white !important;
}
.MuiAccordion-root.Mui-expanded {
  margin: 0px 0 !important;
}
p.MuiTypography-root.heading {
  font-size: 20px;
  font-weight: 500;
}
.MuiButtonBase-root.MuiIconButton-root.MuiAccordionSummary-expandIcon.MuiIconButton-edgeEnd {
  padding: 10px !important;
  color: white !important;
}
.MuiAccordionSummary-content {
  margin: 10px 0 !important;
}
.MuiCollapse-root.MuiCollapse-entered {
  border: 1px solid #111111;
}
/* Accordion Style End */

/* Media Style Start */
@media (min-width: 576px) {
  .slot {
    height: 60px;
  }
}
@media (max-width: 576px) {
  .slot {
    height: 100px;
  }
  .slotTime {
    margin: auto;
  }
  .timeSlot {
    margin-top: 5px;
  }
  .medicalQuestinnaorie {
    margin-top: 45px !important;
  }
  .MuiSvgIcon-root.MuiStepIcon-root {
    width: 1.5em !important;
    height: 1.5em !important;
  }
  .MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel {
    top: 17px !important;
    left: calc(-50% + 18px) !important;
    right: calc(50% + 18px) !important;
  }
  .MuiPaper-root.MuiStepper-root.MuiStepper-horizontal.MuiStepper-alternativeLabel.MuiPaper-elevation0 {
    padding: 0px !important;
  }
  .MuiStep-root.MuiStep-horizontal.MuiStep-alternativeLabel {
    padding: 0px !important;
  }
}
@media (max-width: 768px) {
  .MuiStepLabel-label.MuiStepLabel-alternativeLabel {
    display: none !important;
  }
}
/* Media Style End */

/* Stepper Style Start*/
.MuiSvgIcon-root {
  width: 2em !important;
  height: 2em !important;
}
.MuiStepConnector-alternativeLabel {
  top: 23px !important;
  left: calc(-50% + 24px) !important;
  right: calc(50% + 24px) !important;
}
.MuiStepIcon-text {
  /* display: none; */
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: #0a4b7d !important;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #0a4b7d !important;
}
.MuiStepIcon-root {
  color: #bcbcbc !important;
}
/* Stepper Style End*/

/* Step-1 Style Start*/
.addressMap {
  height: 382px;
}
.address-3 {
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
}
.date {
  margin-top: 8px;
}
.overlap-group10 {
  height: 38px;
}
.overlap-group14 {
  background-color: var(--mercury);
  height: 43px;
  border-radius: 4px;
}
.overlap-group6 {
  background-color: var(--midnight-blue);
  height: 43px;
  border-radius: 4px;
}
.rectangle-150 {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.rectangle-8 {
  background-color: var(--mercury);
  height: 38px;
  padding: 1px 10px;
}
.select-a-time-slot {
  color: var(--dark-tan);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxxl);
}
.selecte-more-times {
  color: #0a85e0;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
}
.rectangle-8::placeholder {
  color: var(--silver);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.text-field-box::placeholder {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  padding: 1px 10px;
}
.x900-am {
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
  cursor: pointer;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}
.eventName {
  font-size: 35px;
  font-weight: 500;
}
.btn-directions {
  background: #0a4b7d;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
.btn-date {
  background: white;
  color: black;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #0a4b7d;
}
.btn-date.active {
  background: #0a4b7d;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
/* Step-1 Style End*/

/* Step-2 Style Start*/
.MuiIconButton-label .MuiSvgIcon-root {
  font-size: 1rem !important;
}
.MuiFormControl-marginNormal {
  margin-bottom: 0px !important;
  /* padding: 4px 10px !important; */
}
.MuiFormControl-root.MuiTextField-root {
  width: 100% !important;
  padding: 1px 10px;
}
.MuiTextField-root {
  margin-top: 0px !important;
  border: 1px solid var(--mist-gray) !important;
  background-color: var(--white) !important;
  height: 36px !important;
  border-radius: 4px !important;
}
.first-name-1::placeholder {
  color: var(--silver);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.continue {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 141px;
  mix-blend-mode: normal;
  text-align: center;
  width: 141px;
}
.previous {
  letter-spacing: 0;
  min-height: 22px;
  min-width: 141px;
  mix-blend-mode: normal;
  text-align: center;
  width: 141px;
}
.verify {
  letter-spacing: 0;
  min-height: 16px;
  mix-blend-mode: normal;
  width: 50px;
}
.verify-button {
  align-items: flex-start;
  background-color: var(--midnight-blue);
  border-radius: 5px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  margin-left: 18px;
  min-width: 128px;
  padding: 6.8px 38px;
}
/* Step-2 Style End*/

/* Step-3 Style Start*/
.first-name::placeholder {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}
.flex-row-item {
  margin-left: 8px;
  margin-top: 6px;
}

.overlap-group17 {
  background-color: var(--congress-blue);
  height: 36px;
  padding: 4px 10px;
  border-radius: 4px;
}
/* Step-3 Style End*/

/* Step-6 Style Start */
.consentForm {
  border: 1px solid #40749b;
  border-radius: 8px;
  padding: 15px;
}
.consentFormBtn {
  border-radius: 4px;
  background: white;
  color: black;
  cursor: pointer;
}
.consentFormBtn.active {
  background: #0a4b7d !important;
  color: white !important;
}
.signLabel {
  color: #0a4b7d !important;
  text-decoration: underline;
  font-family: var(--font-family-roboto);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.signDiv {
  border: 1.4px solid #175786;
  border-radius: 4px;
  padding: 20px;
}
.signCanvas {
  width: 100%;
}
.consentHR {
  border-top: 1px solid black !important;
}
.consentFormBtn.signature {
  padding: 8px 16px !important;
}
/* Step-6 Style End */

/* Step-7 Style Start */
.summaryChevronIcon {
  margin: auto;
  text-align: center;
  cursor: pointer;
}
div.summaryChevronIcon[aria-expanded="true"] .fa-chevron-down {
  display: none;
}
div.summaryChevronIcon[aria-expanded="false"] .fa-chevron-up {
  display: none;
}
.summarySidebar {
  border-right: 2px solid rgba(0, 0, 0, 0.125);
  padding: 10px 0px;
  height: 100%;
}
.sidebarDiv {
  cursor: pointer;
}
.summaryQRCode {
  border: 5px solid #960f29;
  border-radius: 4px;
  width: 50%;
}
.summaryCard {
  border: 2px solid rgba(0, 0, 0, 0.125) !important;
}
.summaryCardHeader {
  background: #0a4b7d !important;
  color: white !important;
}
.summaryBodyBtn {
  background-color: white;
  border: 1px solid#960f29;
  color: #960f29 !important;
  border-radius: 8.699999809265137px;
  height: 40px;
  padding: 0px 15px;
  font-weight: 500 !important;
}
.moreDetails {
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  padding: 20px;
}
.moreDetailsIcon {
  position: absolute;
  margin-top: 9px;
  color: #960f29;
}
.ul-list {
  list-style: disc;
  margin-left: 1rem;
  font-size: 16px;
}
.activeTab {
  border-right: 4px solid var(--midnight-blue);
}
/* Step-7 Style End */
